@import "../@global/global.scss";
@import "~@progress/kendo-theme-default/dist/all.scss";

#selectSchoolDialogBox {
  border: solid;
}

#mealBox {
  width: 400px;
  height: 600px;
}

#mealArticle {
  width: 400px;
  height: 300px;
}

.tailButton {
  position: relative;
  top: 10px;
}

.today {
  background-color: #faf58c;
}
